
.top-header{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
}
.top-content{
    padding: 14px 0px;
    display: flex;
    margin-right: 200px;
    justify-content: space-between;
}
.top-content p{
    font-weight: 500;
    word-spacing: 2px;
}
.top-content1{
    color: #0a808c;
    text-transform: uppercase;
    
}
.top-content a{
    text-decoration: none;
    color: black;
}
.icons {
    display: flex;
    gap: 10px;
}
.icons i{
    font-size: 18px;
}
.navbar{
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width:120px;
    height: 120px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.nav-list li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.nav-button{
    margin-top: -17px;
}
.nav-button button{
    padding: 10px 25px;
    text-transform: uppercase;
    background-color: #0a808c;
    border: #0a808c;
    color: white;
}
.first-section-image{
    margin-top: -15px;
    position: relative;
}
.first-section-image img{
    position: relative;
    height: 800px;
    width: 100%;
    object-fit: cover;
}
.first-section-image .image-content{
    color: white;
    position: absolute;
    top: 30%;
    right: 30%;
}
.image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-cover{
    height: 800px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}
.image-first-text{
    font-size: 64px;
    font-weight: 700;
}
.image-paragraph{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}
.image-paragraph1{
    margin-top: -10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

}
.img-button1{
    padding: 10px 20px;
    background-color: #0a808c;
    border: #0a808c;
    color: white;
}
.img-button2{
    padding: 10px 20px;
    margin-left: 10px;
    border: black;
}

.first-top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}
.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content-section i {
    font-size: 30px;
}
.content{
    margin-top: 18px;
}
.content p{
    margin-left: 15px;
    color: white;
}
.content .content3{
    margin-top: -20px;
    font-weight: 600;
    font-size: 18px;
}

.main{
    display: flex;
    justify-content: space-between;
}
.second-section{
    padding: 40px 0px;
}
.second-heading{
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
    color: #0a808c;
}
.second-content-icon{
    width: 90px;
    height: 90px;
}
.col-md-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second-icon-content{
    text-transform: uppercase;
    padding: 20px 0px;
    font-weight: 500;
    word-spacing: 2px;
}


.third-section{
    width: 100%;
    height: 800px;
    background-image: url(../Assets/wall.jpg);
    background-size: auto;
}
.col-md-6 .third-img{
    width: 500px;
    height: 700px;
    float: right;

}
.third-section .col-md-6{
    padding: 50px 0px;
}
.third-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #0a808c;
}
.third-heading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}
.third-first-par{
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0px;
    /* color: black; */
}
.third-second-par{
    font-size: 18px;
    font-weight: 400;
}
.third-icon-4 .third-icon{
    width: 40px;
    height: 40px;
}
.third-icon-4{
    padding: 40px 0px;
}
.ticon2{
    margin-left: 400px;
}
.third-icon-2{
    margin-top: 20px;
}
.ticon4{
    margin-left: 330px;
}
.third-btn{
    padding: 10px 30px;
    color: white;
    background-color: #0a808c;
    border: #0a808c;
}
.third-last{
    display: flex;
    justify-content: space-between;
}
.fifteen{
    font-size: 50px;
    font-weight: 600;
    color: #0a808c;
}
.plus sup{
    font-size: 24px;
    font-weight: 600;
    color: #0a808c;
}
.t-par{
    margin-top: -30px;
}
.fourth-section{
    padding: 70px 0px;
}
.fourth-heading{
    text-align: center;
}
.fourth-link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #0a808c;
    font-size: 18px;
}
.fourth-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 54px;
    margin-bottom:-10px ;
}

.fourth-card{
    margin: 40px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 40px;
}
.f-icon{
    width: 50px;
    height: 50px;
}
.f-title{
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: 600;
    color: #0a808c;
    font-size: 20px;
}
.f-text{
    line-height: 30px;
    font-size: 16px;
}
.f-btn{
    color: white;
    background-color: #0a808c;
    border: #0a808c;
    padding: 10px 30px;
    margin: 10px 0px;
}
.f2-btn{
    color: white;
    background-color: #0a808c;
    padding: 15px 30px;
    border: #0a808c;
    margin: 10px 0px;
}
.btn4{
    text-align: center;
}
.fi-img{
    width: 100%;
    height: 750px;
    object-fit: cover;
}
.fifth-section{
    position: relative;
}
.cover{
    width: 100%;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;   
}
.fi-form{
    width: 600px;
    height: 570px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: white;
}
.form-title{
    text-align: center;
    padding: 20px 0px;
    background-color: #0a808c;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.i-form{
    padding: 20px;
}
.fi-input{
    padding:10px;
    width: 100%;
}
.fi-input2{
    padding: 10px;
    width: 100%;
    margin-right: 20px;
}
.first{
    margin-top: 30px;
    display: flex;
}
.second{
    margin-top: 30px;
    display: flex;
}
.form-btn{
    padding: 40px 0px;
    text-align: center;
}
.fobtn{
    padding: 10px 30px;
    background-color: #0a808c;
    color: white;
    border: #0a808c;
    text-transform: uppercase;
    font-weight: 500;
}
.sixth-section{
    background-image: url(../Assets/grey.jpg);
    background-size: cover;
    padding: 70px 0px;
    text-align: center;

}
.sixth-link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #0a808c;
    font-size: 18px;
}
.sixth{
    background-color:#0a808c;
    color: white;
    text-align: left;
    height: 300px;
}
.checked{
    color: yellow;
}
.six-text{
    padding: 20px 0px;
}
.s-name{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
}
.s-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.si-name{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
    
}
.si-icon{
    width:40px;
    height: 40px;
}
.six-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sixth1{
    background-color: black;
    color: white;
    text-align: left;
    height: 300px;
}
.or{
    background-color: red;
}
.light{
    background-color: rgb(21, 214, 53);
}
.seven-section{
    padding: 60px 0px;
}
.se1{
    width: 300px;
    height: 280px;
    object-fit: cover;
}
.se2{
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.explore{
    border: 1px solid #0a808c;
    background-color: #0a808c;
    height: 280px;
    width: 100%;
    color:white;
    padding: 30px;
}
.seven-par{
    font-weight: 400;
}
.seven-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    margin-top: -20px;
}
.seven-btn{
    margin-top: 15px;
    background-color: #0a808c;
    color: white;
    border-color: white;
    padding: 10px 20px;
    text-transform: uppercase;
}
.seven-second{
    margin-top: -30px;
}
.seven-second-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.question{
    background-color: #0a808c;
    width: 100%;
    height: 180px;
    margin-top: 60px;
    padding: 30px 0px;
    color: white;
}
q.title{
    font-weight: 600;
}
.q-content{
    display: flex;
    justify-content: space-between;
}
.q-par{
    line-height: 10px;
    margin-top: 10px;
    font-weight: 400;
}
.q-btn{
    margin-top: -20px;
    padding: 10px 30px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    border: black;
}
.footer{
    padding: 50px 0px;
    width: 100%;
    height: 400px;
    background-color: #f5f5f5;
}
.footer-title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0a808c;
}
.foot-content{
    padding:10px 0px;
    padding-bottom: 30px;
}
.par-foot{
    font-size: 17px;
}
.foot-icons{
    width: 40px;
    height: 40px;
}
.foot-first-list{
    list-style: none;
    margin-left: -30px;
}
.foot-first-list li{
line-height: 30px;
font-size: 17px;
}
.fr-icon{
    margin-top: 10px;
}
.fr-icon i{
    margin-right: 10px;
}
.fr-p{
    margin-left: 30px;
}
.last{
    border-top: 1px solid black;
    padding: 20px 0px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.l-text{
    color: #0a808c;
}

.hamburger-menu{
    display: none;
}
.menu-toggle{
    display: none;
}

@media (max-width: 1200px) {
    .nav-list {
        gap: 30px;
    }
    .hamburger-menu{
        display: none;
    }
    .menu-toggle{
        display: none;
    }
}

@media (max-width: 992px) {
    .top-content {
        margin-right: 0;
    }

    .navbar {
        flex-wrap: wrap;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f2f2f2;
        position: absolute;
        top: 120px;
        left: 0;
        z-index: 1000;
    }
    .nav-button{
        display: none;
    }

    .nav-list li {
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-toggle:checked ~ .nav-list {
        display: flex;
    }

    .first-section-image img {
        height: 600px;
    }
    .content-section{
        font-size: 14px;
    }
    .content p{
        font-size: 14px;
    }
    .content .content3{
        font-size: 12px;
    }   

    .image-first-text {
        font-size: 48px;
    }
    .image-cover{
        height: 600px;
    }
    .first-section-image .image-content{
        top: 30%;
        right: 15%;
    }
    .image-first-text{
        font-size: 40px;
    }

    .third-section, .third-content{
        font-size: 12px;
    }
   .col-md-6 .third-img{
       width: 300px;
       height: 500px;
       margin-top: 10%;
   }
   .third-link{
       font-size: 16px;
   }
   .third-heading{
       font-size: 40px;}
       .third-first-par{
           font-size: 16px;
       }
         .third-second-par{
              font-size: 14px;
         }
            .third-icon-4 ,.third-icon{
                display: none;
            }
            .f-icon{
                width: 30px;
                height: 30px;
            }
            .f-title{
                font-size: 14px;
            }
            .f-text{
                font-size: 12px;
                line-height: 20px;
                word-wrap: break-word;
            }
            .f-btn, .f2-btn{
               padding: 10px 20px;
            }
            .btn4{
                text-align: center;
            }
            .fi-form{
                width: 90%;
                left: 5%;
            }
            .fi-input, .fi-input2{
                width: 100%;
            }
            .fi-input2{
                margin-right: 0;
            }
            .fourth-title{
                font-size: 40px;
            }
            .si-name{
                font-size: 18px;
            }
            .si-icon{
                width: 30px;
                height: 30px;
            }
            .se1, .se2{
                margin-top: 10px;
            }
    .image-paragraph, .image-paragraph1 {
        font-size: 16px;
    }
    .fourth-card, .seven-section .col-md-6, .seven-section .col-md-3, .se1, .se2 {
        width: 100%;
    }
    .explore {
        height: auto;
        padding: 20px;
    }
    .seven-title {
        font-size: 36px;
    }
    .footer {
        height: auto;
    }
    .footer .col-md-3 {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .top-content{
        font-size: 12px;
    }
    .image-first-text {
        font-size: 36px;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
    .content-section, .content p{
        font-size: 12px;
    }
    .content .content3{
        font-size: 14px;
    }
    .content-section i{
        font-size: 20px;
    }
    .first-section-image .image-content{
        top: 30%;
        right: 13%;
    }
    .col-md-6 .third-img{
        margin-left: 20%;
    }
    .image-paragraph, .image-paragraph1 {
        font-size: 14px;
    }
    .third-section {
        height: auto;
    }
    .third-img {
        width: 100%;
        height: auto;
    }
    .third-heading {
        font-size: 36px;
    }
    .third-first-par, .third-second-par {
        font-size: 16px;
    }
    .fourth-title {
        font-size: 36px;
    }
    .fi-form {
        height: auto;
        padding-bottom: 20px;
        margin-top: -80px;
    }
    .fi-input, .fi-input2 {
        width: 100%;
    }
    .first, .second {
        flex-direction: column;
    }
    .seven-second-img {
        height: 300px;
    }
    .question {
        height: auto;
        padding: 20px;
    }
    .q-content {
        flex-direction: column;
        text-align: center;
    }
    .q-btn {
        margin-top: 10px;
    }
    .footer .col-md-3 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .image-first-text, .third-heading, .fourth-title, .seven-title {
        font-size: 24px;
    }
    .image-paragraph, .image-paragraph1, .third-first-par, .third-second-par {
        font-size: 12px;
    }
    .se1, .se2, .seven-second-img {
        height: 200px;
    }
    .top-content, .content p, .content .content3 {
       font-size: 12px;
    }
    .second-heading{
        font-size: 16px;
    }
    .first-section-image .image-content{
        top: 37%;
        right: 10%;
    }
    .third-section .third-content{
       font-size: 16px;
       padding: 0px 40px;
    }
    .col-md-6 .third-img{
       width: 72%;
       height: 500px;
       margin-right: 80px;
    }
    .footer{
        padding: 20px 20px;
    }
}

